@model IEnumerable<Dormitary_Re.Models.Order>
@{
    ViewBag.Title = "Order";
}

<div id="Order">
    <div id="left">
        <div class="container">
            <img src="~/imgs/2017迷客夏價目表-北區.jpg" />
            <div class="AddManuBtn">
                <div class="LeftBar"></div>
                <div class="RightBar"></div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        <div id="right">
            <div class="OrderInform">
                <div class="TwoInput">
                    點餐:
                    <input type="text" name="Product" maxlength="50" placeholder="ProductName" />
                    <input type="number" name="HowMuch" maxlength="5" placeholder="Price" />
                </div>
                <br />
                您已點:
                @foreach (var item in Model)
                {
                    if (item.orderaccount.ToUpper() == Session["account"].ToString().ToUpper())
                    {
                        <a>
                            @Html.DisplayFor(a => item.product)
                        </a>
                    }
                }
                <br />
            </div>
            <input type="Submit" value="Submit">
            <br />
            <div class="Table">

                @if (Model.Count() > 0)
                {
                    <table border=1>
                        <tr>
                            <td>Name</td>
                            <td>Ordered </td>
                            <td>$$$$ </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.orderaccount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="SetAllOrderBtn">
                        @Html.ActionLink("收單", "SetAllProductOrderingStatus")
                    </div>
                }
            </div>
        </div>
    }
</div>
