
@{ 
    ViewBag.Dor = "220";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/MyFav.ico">
    <title>@ViewBag.Dor ? Here Is!!</title>
    @Styles.Render("~/DormitaryCSS/css")
</head>

<body>
    <header id="header">
        <div class="container">
            <img class="title-logo" src="~/imgs/220Dormitary-04.png" />
            <strong><span class="Login_Title">貳貳零-自強路最強宿舍</span></strong>
        </div>
    </header>
    <div class="container" style="margin-top:30px;">
        <div id="Title_Text">@ViewBag.Title</div>
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Code By DZ-Ice</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>

