
@{ 
    ViewBag.Dor = "220";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/MyFav.ico">
    <title>@ViewBag.Dor ? Here Is!!</title>
    @Styles.Render("~/DormitaryCSS/css")
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="Login_Title">
                <img class="title-logo" src="~/imgs/220Dormitary-04.png" />
                <div class="title-txt">
                    貳貳零-自強路最強宿舍
                </div>
            </div>
        </div>
    </header>
    <div style="margin-top:30px;">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Code By DZ-Ice</p>
        </footer>
    </div>

    @Scripts.Render("~/DormitaryJS/JS")
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>

